* {
  border: 1px solid darkcyan;
}

body {
    background: lightgray;
    color: #323232;
    font-weight: 300;
    font-style: 16px;
    height: 80vh;
    margin: 0;
    text-align: center;
    font-family: Helvetica neue, roboto;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 8px;
    margin: 16px;
  }

  .left-block {
    width: 16vw;
    padding: 16px 16px;
    margin-right: 16px;
    border: 3px darkgrey solid;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
  }

  .right-block {
    width: 64vw;
    padding: 16px 16px;
  }
  
  .num-text {
    padding: 0 0;
    font-weight: 500;
    font-size: 18px;
  }
  
  .num-div {
    height: 50px;
    margin: 0 auto;
    font-size: .75em;
    padding: 8px 8px;
    margin: 8px 8px;
    border-radius: 10px;
  }

  #bin {
    border: solid 1px aquamarine;
    background-color: aquamarine;
  }
  
  #dec {
    border: solid 2px beige;
    background-color: beige;
  }

  #ones {
    border: solid 2px navajowhite;
    background-color:navajowhite;  
  }
  
  #twos {
    border: solid 2px orange;
    background-color:orange;  
  }
  
  img {
    width: 56px;
    height: 48px;
  }
  
  h1 {
    font-weight: 200;
    font-style: 26px;
    margin: 10px;
  }

  button {
    display: block;
    margin: 10px 0px;
    padding: 3px 20px;
  }

  .label {
    margin-bottom: 10px;
    font-size: .9em;
    font-weight: 500;
  }